Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: @@DEPENDS@@
Recommends: @@RECOMMENDS@@
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: OVS Editor Project <maintainers@ovs-editor.local>
Homepage: https://github.com/zebasxx/OVSEditor
Installed-Size: @@INSTALLEDSIZE@@
Provides: visual-studio-@@NAME@@
Conflicts: visual-studio-@@NAME@@
Replaces: visual-studio-@@NAME@@
Description: Focused text editing for Git repositories.
 OVS Editor is a downstream build of Code - OSS focused on text editing,
 file exploration, search, and source control.
